{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('app_logout') }}" class="underline p-3 float-end">Déconnexion</a>
    {% endif %}

    <div class="container prose">

        <div class="card bg-base-100 shadow-lg my-4">
            <a href="{{ path('home') }}" class="not-prose">
                <figure>
                    <img src="{{ asset('images/illustation.jpeg') }}"
                         alt="Illustration" class="max-h-[200px] object-cover w-full"/>
                </figure>
            </a>
            <div class="card-body items-center text-center">
                <h2 class="card-title my-0">
                    Bonjour {{ app.user.firstName }} {{ app.user.lastName }} !
                </h2>

            </div>
        </div>

        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div role="alert" class="alert alert-{{ label }} my-4">

                    {% if label is same as 'success' %}
                        <i class="lni lni-checkmark-circle font-bold text-xl"></i>
                    {% else %}
                        <i class="lni lni-cross-circle font-bold text-xl"></i>
                    {% endif %}
                    <span>{{ message }}</span>
                </div>


            {% endfor %}
        {% endfor %}

        <h2 class="text-2xl">
            <a href="{{ path('teacher_dashboard') }}" class="btn btn-primary btn-sm">
                <i class="lni lni-arrow-left"></i>
            </a>

            {% block page_title %}
            {% endblock %}
        </h2>

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </div>


{% endblock %}