{% extends 'teacher/_base.html.twig' %}

{% block page_title %}
    Mes Rendez-vous

    <a href="{{ path('teacher_appointments_create') }}" class="btn btn-secondary float-end">
        Ajouter des créneaux
    </a>

{% endblock %}


{% block content %}
    {% for date, appointments in appointments_by_date %}

        <h2>Rendez-vous du {{ date | format_datetime("medium", "none") }}</h2>




        <div class="overflow-x-auto">
            <table class="table table-zebra not-prose">
                <!-- head -->
                <thead>
                <tr class="text-lg">
                    <th>Heure</th>
                    <th>Enfant</th>
                    <th>Parent(s)</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for appointment in appointments %}
                    <tr>
                        <th>{{ appointment.beginAt | date('H:i') }}</th>
                        <td>
                            {% if appointment.isAvailable %}
                                <div class="badge badge-primary">Libre</div>
                            {% else %}
                                {{ appointment.child.firstName }} {{ appointment.child.lastName }}
                            {% endif %}
                        </td>
                        <td>{{ appointment.guardians | map(g => g.firstName ~ ' ' ~ g.lastName) | join(', ') }}</td>
                        <td>
                            {% if appointment.isAvailable %}
                                <a href="{{ path('delete_appointment', {id_appointment: appointment.id}) }}"
                                   class="btn btn-sm btn-error not-prose">Supprimer</a>
                            {% else %}
                                <a href="{{ path('cancel_appointment', {id_appointment: appointment.id}) }}"
                                   class="btn btn-sm btn-primary not-prose">Annuler</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>




    {% endfor %}
{% endblock %}
