{% extends 'teacher/_base.html.twig' %}

{% block page_title %}
    Mes Rendez-vous
{% endblock %}


{% block content %}
    {% for appointment in appointments %}
        <div class="card bg-base-100 border {{ appointment.isAvailable ? '' :  'border-primary' }}  card-compact shadow-lg my-3">
            <div class="card-body">
                <h2 class="card-title">
                    {{ appointment.beginAt |date('H:i') }} le {{ appointment.beginAt|date('d/m/Y') }}
                </h2>

                {% if appointment.isAvailable %}
                    <p>
                        Créneau disponible
                    </p>
                {% else %}
                    <p>
                        Enfant : {{ appointment.child.firstName }} {{ appointment.child.lastName }}
                    </p>
                    <p>
                        Parent(s) : {{ appointment.guardians | join(', ') }}
                    </p>
                {% endif %}


                <div class="card-actions justify-end">
                    {% if appointment.isAvailable %}
                        <button class="btn btn-outline btn-sm btn-primary">Supprimer le créneau</button>
                    {% else %}
                        <button class="btn btn-sm btn-primary">Annuler le rdv</button>
                    {% endif %}
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}
