{% extends 'teacher/_base.html.twig' %}

{% block page_title %}
    Mes élèves
{% endblock %}

{% block content %}
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-4 auto-rows-fr my-7">
        {% for child in students %}
            <div class="card bg-base-100 shadow-lg my-3">
                <div class="card-body">
                    <h2 class="card-title mt-0">
                        {{ child.lastName | upper }} {{ child.firstName }}
                    </h2>


                    <div class="overflow-x-auto">

                        {% for appointment in child.appointments %}

                            <div>
                                Rendez-vous à {{ appointment.beginAt |date('H:i') }}
                                le {{ appointment.beginAt | format_datetime("medium", "none") }}
                            </div>

                            <div class="mt-2">
                                {% if appointment.guardians is not empty %}
                                    Parent(s) présent :

                                    <ul class="my-0">
                                        {% for parent in appointment.guardians %}
                                            <li>{{ parent.firstName }} {{ parent.lastName }}</li>
                                        {% endfor %}
                                    </ul>

                                {% endif %}
                            </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
