{% extends 'public/_base.html.twig' %}

{% block content %}

    <h2 class="mt-8">
        <a href="{{ path('home') }}" class="btn btn-primary btn-sm">
            <i class="lni lni-arrow-left"></i>
        </a>
        Rendez-vous avec {{ teacher.firstName }} {{ teacher.lastName }}
    </h2>

    {% for date, appointments in appointments_by_date %}
        <h3>Rendez-vous du {{ date | format_datetime("medium", "none") }}</h3>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 auto-rows-fr my-7">

            {% for appointment in appointments %}
                <a href="{{ path('take_appointment', {id_appointment: appointment.id}) }}" class="btn btn-primary">{{ appointment.beginAt |date('H:i') }}</a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
